{% extends "base.html" %}
{% load formatting %}

{% block content %}

<h1>
{{user.username}}
{% if request.user.is_authenticated %}
    {% if user.first_name or user.last_name %}
        <small>({{user.first_name}} {{user.last_name}})</small>
    {% endif %}
{% endif %}
</h1>
{% if request.user.is_autenticated %}
<p>
    {{user.email}}<br>
    Balance: {{user.balance}}€ <a href="{% url 'change_balance' %}">Changer</a><br>
    {% if user.balance < 0 %}
    <div class="alert alert-danger" role="alert"><strong>Solde négatif !</strong> Ne dépensez plus et rechargez vite !</div>
    {% elif user.balance < 5 %}
    <div class="alert alert-warning" role="alert"><strong>Hum, ne n'est pas beaucoup :</strong> pensez à recharger :)</div>
    {% elif user.balance > 50 %}
    <div class="alert alert-success" role="alert"><strong>Wow !</strong> Ca en fait une somme ça !</div>
    {% endif %}
</p>
{% endif %}

<p>
    <h3>Vous maintenez les projets suivants:</h3>
    {% for project in user.maintained_projects.all %}
    <b><a href="{% url 'view_project' project.id %}">{{project.title}}</a></b> - {{project.short_description}}</br>
    {% endfor %}
</p>

<p>
    <h3>Vous participez aux projets suivants:</h3>
    {% for project in user.project_set.all %}
    <b><a href="{% url 'view_project' project.id %}">{{project.title}}</a></b> - {{project.short_description}}</br>
    {% empty %}
    Vous ne participez a aucun projet :'(</br>
    <a href="{% url 'projects_home' %}">Venez vous inscrire a l'un ou l'autre.</a>
    {% endfor %}
</p>

<p>
    {% if user.has_key %}
    You have a key :) Plase contact mainteneur@urlab.be if it is not the case
    {% else %}
    You don't have a key. You could ask for one during a meeting.
    {% endif %}
</p>

{% endblock %}
