{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    {% if next %}
        <div class="alert alert-warning" role="alert">
            Vous devez d'abord vous connecter avant de pouvoir accéder à cette page.
        </div>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Se connecter
        </button>
        {% endbuttons %}
    </form>
  </div>
  <div class="col-md-6">
    <p><a href="{% url 'password_reset' %}">Mot de passe perdu ?</a></p>

  </div>
</div>



{% endblock %}
