{% load humanize %}

<h2><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
  <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
</svg>
    Derniers changements</h2>

{% for action in stream %}
  <div class="row">
    <div class="col-lg-1" style="font-size:180%;">
      <img src="{{ action.actor.gravatar }}" class="user-avatar">
    </div>
    <div class="col-lg-11">
      <p style="overflow: hidden;text-overflow: ellipsis;">
        <strong>
          {{ action.actor }} {{ action.verb }}
        </strong>
        {% if action.action_object %}
            {% if action.action_object.get_absolute_url %}
              <a href="{{ action.action_object.get_absolute_url }}">
                {{ action.action_object }}
              </a>
            {% else %}
              {{ action.action_object }}
            {% endif %}
        {% endif %}

        {% if action.action_object and action.target %}dans{% endif %}

        {% if action.target %}
            {% if action.target.get_absolute_url %}
              <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
            {% else %}
              <a href="{{ action.target_url }}">{{ action.target }}</a>
            {% endif %}
        {% endif %}
        <br>
        <span class="feed-timesince">
          Il y a {{ action.timestamp|timesince }}
        </span>
      </p>
    </div>
  </div>
  <hr>
{% empty %}
  <p>Il ne s'est encore rien passé.</p>
{% endfor %}
