# Main packages
django>=3, <4

# Main Django apps
djangorestframework
django-activity-stream
django-bootstrap4
django-constance[database]
django-crispy-forms
django-extensions
django-filter
django-simple-history
django-mptt
wiki

# Other Django
django-jsonfield # see https://django-activity-stream.readthedocs.io/en/latest/installation.html#add-extra-data-to-actions
django-jsonfield-compat
django-resized

# Tooling
influxdb
ipython
mypy-extensions
typing-extensions
pip-tools

# Common ython packages
ics
Markdown
Pillow
redis
requests
sentry-sdk
