Django>=1.9,<1.10
pytest-django
django-extensions
ipython
django-debug-toolbar<1.6,>=1.5
django-bootstrap3
djangorestframework<3.7.0
django-datetime-widget
Markdown==2.6.11
redis
Pillow
wiki<0.4.0
influxdb
django-resized
requests
django-crispy-forms
django-filter<2.0.0
django-activity-stream>=0.6.1
ics
django-analytical
django-jsonfield
django-jsonfield-compat
pandas
django-pandas
pip>8.0
django-picklefield==1.0.0
django-constance[database]
django-simple-history==1.9.1
 -e git://github.com/darklow/django-suit.git@v2#egg=django-suit
