Django>=1.8,<1.9
pytest-django
django-extensions
ipython
django-debug-toolbar
django-bootstrap3
django-activelink
djangorestframework
django-datetime-widget
Markdown
redis
Pillow
git+http://github.com/django-wiki/django-wiki.git@009fbf2bbb5c45b49dc26e61d028529b05642848
influxdb
django-resized
requests
django-crispy-forms
django-filter
ics
django-activity-stream
