{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
Formulaire article
{% endblock %}

{% block head %}
    {{ form.media  }}
    <!-- <link href="{% static "css/bootstrap-multiselect.css" %}" rel="stylesheet"> -->
    <!-- <script type="text/javascript" src="{% static "js/bootstrap-multiselect.js" %}"></script> -->
{% endblock %}

{% block content %}
<form action="" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
    {% endbuttons %}
</form>

<!-- <script type="text/javascript">
    $(document).ready(function() {
        $('#id_participants').multiselect({
            enableFiltering: true,
            filterBehavior: 'text',
            buttonWidth: '100%',
            enableCaseInsensitiveFiltering: true,
        });
        $('#id_dependencies').multiselect({
            enableFiltering: true,
            filterBehavior: 'text',
            disableIfEmpty: true,
            buttonWidth: '100%',
            enableCaseInsensitiveFiltering: true,
        });
    });
</script> -->

{% endblock %}
