{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
Formulaire article
{% endblock %}

{% block head %}
    {{ form.media  }}
    <!-- <link href="{% static "css/bootstrap-multiselect.css" %}" rel="stylesheet"> -->
    <!-- <script type="text/javascript" src="{% static "js/bootstrap-multiselect.js" %}"></script> -->
{% endblock %}

{% block content %}
    <h2>Différences:</h2>

    <div class="container">
        {{ delta | safe }}
    </div>

    <div class="row">
        <div class="col-2 row-elem"></div>
        <div class="col-2 row-elem">
            <a class="btn btn-success" href="{% url "view_article" old_article.pk %}">
                Voir cette version
            </a>
        </div>
        <div class="col-4 row-elem"></div>
        <div class="col-2 row-elem">
            <a class="btn btn-success" href="{% url "view_article" article.pk %}">
                Voir cette version
            </a>
        </div>
    </div>
{% endblock %}
