{% extends "base.html" %}

{% block title %}
Wiki UrLab
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="Wiki du hackerspace" />
    <meta property="og:description" content="Le wiki du hackerspace, toute l'aide dont tu as besoin est ici :)" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://urlab.be{% url "wiki_home" %}" />
    <meta property="og:image" content="https://urlab.be/static/img/space-invaders.svg" />
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">UrLab</a></li>
    <li class="breadcrumb-item active" aria-current="page">Wiki</li>
  </ol>
</nav>

<ul class="nav nav-tabs justify-content-end" id="article-menu" role="tablist">
    <li class="nav-item mr-auto">
        <p><strong>Article du wiki</strong></p>
    </li>
    <li class="nav-item">
        <a href="#tab-hackerspace" class="nav-link active" data-toggle="tab" role="tab" aria-selected="true">
            <span class="fas fa-fire-extinguisher" ></span>
            <span class="hidden-xs">Hackerspace</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#tab-project" class="nav-link" data-toggle="tab" role="tab" aria-selected="false">
            <span class="fas fa-flask" ></span>
            <span class="hidden-xs">Project</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#tab-food" class="nav-link" data-toggle="tab" role="tab" aria-selected="false">
            <span class="fas fa-pizza-slice" ></span>
            <span class="hidden-xs">Nourriture</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#tab-miscellaneous" class="nav-link" data-toggle="tab" role="tab" aria-selected="false">
            <span class="far fa-snowflake" ></span>
            <span class="hidden-xs">Divers</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#tab-objects" class="nav-link" data-toggle="tab" role="tab" aria-selected="false">
            <span class="fas fa-box-open" ></span>
            <span class="hidden-xs">Objects</span>
        </a>
    </li>
</ul>

<div class="row">

    <div class="col col-lg-10">
        <div class="tab-content" id="my-tab-content" style="margin-top:15px">
            <div class="tab-pane show active" id="tab-hackerspace">
                <ul class="list-group-flush">
                    {% for article in hackerspace %}
                    <li class="list-group-item"><a href='{% url "view_article" article.pk %}'>{{article.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane" id="tab-objects">
                <ul class="list-group-flush">
                    {% for article in objects %}
                    <li class="list-group-item"><a href='{% url "view_article" article.pk %}'>{{article.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane" id="tab-miscellaneous">
                <ul class="list-group-flush">
                    {% for article in miscellaneous %}
                    <li class="list-group-item"><a href='{% url "view_article" article.pk %}'>{{article.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane" id="tab-food">
                <ul class="list-group-flush">
                    {% for article in food %}
                    <li class="list-group-item"><a href='{% url "view_article" article.pk %}'>{{article.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane" id="tab-project">
                <ul class="list-group-flush">
                    {% for article in project %}
                    <li class="list-group-item"><a href='{% url "view_article" article.pk %}'>{{article.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>

    <div class="col col-lg-2" style="margin-top: 15px">
        <a type= "button" href="{% url "add_article" %}" class="btn btn-success pull-right">
            <span style="color:#ffffff"> <span class="fa fa-plus" aria-hidden="true"></span> Nouvel article </span>
        </a>
    </div>
</div> 

<!-- Owiii du javascript random au milieu de nul part, much love-->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>

{% endblock %}
