.project-card-description {
    height: 3em;
    overflow: hidden;
}

.base-header {
	width: 100%;
	max-height: 200px;
	margin-top: 5px;
	vertical-align: bottom;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.base-body {
	background-color: rgba(255,255,255,1);
	position:relative;
	min-height: 100%;
}

.base-footer {
	margin-top: 75px;
	width: 100%;
	background-color: #BBBBBB;
}

#home-logo {
	width: 100%;
	text-align: center;
	background-image:linear-gradient(white, #97F);
}

#home-logo-image {
	width: 50%;
	margin: auto;
	height: auto;
	max-height: 160px;
	max-width: 324px;
	overflow: hidden;
}

.base-footer-row {
	height: 250px;
	margin: 0px;
	padding: 0px;
}

.base-map {
	border: 0px;
	height: 250px;
	display: inline;
	padding: 0;
	margin: 0px;
	padding: 0px !important;
	overflow: hidden;
}

.base-map iframe {
	border: 0px;
	margin: 0px;
}

div.col-sm-3.base-map {
	overflow: hidden;
}

.base-footer-opening {
	height: 250px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	overflow: scroll;
}

.base-footer p {
	font-family: "Courier New", Courier, monospace;
	color: black;
}

.green {
	color: #23FF23;
}

.base-footer-info {
	padding-top: 25px;
	height: 250px;
	color: #23FF23;
	background-color: #BBBBBB;
	background-image: url('/static/img/terminal.jpg');
	background-size: 100% 100%;
}

.base-footer ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.base-footer ul li {
    padding-left: 2em;
    text-indent: -2em;
    color: #23FF23;
}

.base-footer ul li:before {
    content: "$>";
    padding-right: 5px;
    font-family: "Courier New", Courier, monospace;
    color: #23FF23;
}

.slimg {
  width: auto;
  height: 270px;
  max-height: 270px;
  vertical-align: middle;
}

.slimg img {
	/*height: 225px;*/
	/*width: auto;*/
}