html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 4em;
}

.slimg {
  width: auto;
  height: 270px;
  max-height: 270px;
  vertical-align: middle;
}

.project-card-description {
    height: 3em;
    overflow: hidden;
}

.base-header {
	width: 100%;
	max-height: 200px;
	margin-top: 5px;
	vertical-align: bottom;
}

#home-logo {
	width: 100%;
	text-align: center;
	background-image:linear-gradient(white, #BBBBBB);
}

#home-logo-image {
	width: 50%;
	margin: auto;
	height: auto;
	max-height: 120px;
	max-width: 243px;
	overflow: hidden;
}

.navbar-shadow{
	-webkit-box-shadow: 0px 9px 43px -4px rgba(61,61,61,0.5);
	-moz-box-shadow: 0px 9px 43px -4px rgba(61,61,61,0.5);
	box-shadow: 0px 9px 43px -4px rgba(61,61,61,0.5);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*Set the fixed height of the footer here */
  height: 4em;
  padding-top: 1em;
  border-top: 1px solid #f5f5f5;
}

.footer a {
  color: #5b94c5;
}