html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 4em;
}

h1 small{
    font-size: 0.7em;color: gray;
}

blockquote {
    padding-left: 10px;
    margin-left: 20px;
    border-left: solid;
    border-width: 2px;
    border-color: lightgrey;
    color: grey;
}

.user-avatar {
  width: 1.5em;
  height: 1.5em;
  border-radius: .75em;
}

.slimg {
  width: auto;
  height: 270px;
  max-height: 270px;
  vertical-align: middle;
}

.project-card-description {
  height: 3em;
  overflow: hidden;
}

.card-title {
  width: 100%;
  overflow-wrap: break-word;
}

.base-header {
	width: 100%;
	max-height: 200px;
	margin-top: 5px;
	vertical-align: bottom;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.nav-wrapper
{
  min-height:70px;
}

#home-logo {
	width: 100%;
	text-align: center;
	background-image:linear-gradient(white, #BBBBBB);
}

#home-logo-image {
	width: 50%;
	margin: auto;
	height: auto;
	max-height: 120px;
	max-width: 243px;
	overflow: hidden;
}

.navbar-shadow{
	-webkit-box-shadow: 0px 9px 43px -4px rgba(61,61,61,0.5);
	-moz-box-shadow: 0px 9px 43px -4px rgba(61,61,61,0.5);
	box-shadow: 0px 9px 43px -4px rgba(61,61,61,0.5);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*Set the fixed height of the footer here */
  height: 4em;
  padding-top: 1em;
  border-top: 1px solid #f5f5f5;
}

.footer a {
  color: #5b94c5;
}

.event-card .event-pic-thumb {
    border-radius: 50%;
    height: 3em;
    width: 3em;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    transition: border-radius 0.5s;
}
.event-card:hover .event-pic-thumb {
    border-radius: 25%;
}

.event-card h4 {
    font-weight: bolder;
    text-align: right;
}

.feed-timesince {
  color: #777;
}

.feed-photo {
  height: 2.5em;
  float:left;
  margin-top: .3em;
  margin-right: .5em;
  border-radius: .25em;
}

#pamela {
  font-size: 150%;
}

#pamela .user-entry {
  padding-top: .5em;
}

#pamela .user-list {
  list-style: none;
  color: grey;
}

.event-card [data-toggle="collapse"]{
  color: grey;
}
