{% load bootstrap3 %}
{% load formatting %}
{% load humanize %}
<div class="well">
        <p>UrLab se trouve sur le campus du Solbosh, à l'ULB et est ouvert à tout le monde.</p>
        <iframe width='100%' height='300px' frameBorder='0'
                src='https://a.tiles.mapbox.com/v4/c4ptaincrunch.o1n42mc8/attribution,zoompan,zoomwheel,geocoder.html?access_token=pk.eyJ1IjoiYzRwdGFpbmNydW5jaCIsImEiOiJUdWVRSENNIn0.qssi5TBLeBinBsXkZKiI6Q#14/50.812919/4.38443799999999'></iframe>
        <p>
    <hr/>
    {% if space_open %}
        <a href="{% url "pamela_list" %}" class="btn btn-success btn-group-justified">
            {% bootstrap_icon "ok" %}
            C'est ouvert !
        </a>
    {% else %}
        <a href="{% url "pamela_list" %}" class="btn btn-danger btn-group-justified">
            {% bootstrap_icon "remove" %}
            On est fermé
        </a>
    {% endif %}
    <hr/>
    <div class="text-right">
        <h3>Social</h3>
        <a href="https://twitter.com/UrLabBxl" title="Twitter" target="_blank">
        <span class="wow fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
        </a>
        <a href="https://www.facebook.com/urlabbxl" title="Facebook" target="_blank">
        <span class="wow fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>
        <a href="https://github.com/UrLab" title="GitHub" target="_blank">
        <span class="wow fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
        </span>
        </a>
        <a href="http://urlab.be/events/urlab.ics" title="iCal" target="_blank">
        <span class="wow fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-calendar fa-stack-1x"></i>
        </span>
        </a>
        <a href="http://urlab.space" title="SpaceAPI" target="_blank">
        <span class="wow fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-space-shuttle fa-stack-1x"></i>
        </span>
        </a>
        <a href="http://webchat.freenode.net/?channels=urlab" title="IRC" target="_blank">
        <span class="wow fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-slack fa-stack-1x"></i>
        </span>
        </a>

        <h3>Contact</h3>
        <h4>Mail
            <small>
                <a href="mailto:contact@urlab.be">contact@urlab.be</a>
            </small>
        </h4>
        <h4>Chat
            <small>
                <a target="_blank" href="http://webchat.freenode.net/?channels=urlab">
                    chat.freenode.org#urlab
                </a>
            </small>
        </h4>
        <h4>Adresse
            <small>131 av. Buyl, 1050 Bruxelles</small>
        </h4>
        <h4>Téléphone
            <small>02/650.49.67</small>
        </h4>
        <h3>Probabilités d'ouverture</h3>
        {% include "opening_d3.html" %}
        <!--
        <img src="{% url "openings_graph" %}?weeks=6&width=9&height=3&weekday_django={% now 'w' %}"
             alt="Ouverture" style="width: 100%" />
        -->
    </div>
</div>
