{% extends "base.html" %}
{% load bootstrap4 %}
{% load formatting %}
{% load humanize %}

{% block opengraph %}
    <meta property="og:title" content="Music of the Day" />
    <meta property="og:description" content="En direct de notre channel IRC !" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://urlab.be{% url "motd" 1 %}" />
    <meta property="og:image" content="https://urlab.be/static/img/space-invaders.svg" />
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">UrLab</a></li>
    <li class="breadcrumb-item active" aria-current="page">Music of the day</li>
</ol>
</nav>
<h1>Music of the day <small>En direct de notre chan irc !</small></h1>
<div class="d-flex flex-row flex-wrap">
    {% for music in page %}
        <div class="p-2">
          <div class="card" style="width: 22rem;">
            {% if music.provider == 'youtube' %}
              <iframe
                class="card-img-top"
                src="https://www.youtube-nocookie.com/embed/{{music.provider_id}}"
                frameborder="0"
                allow="autoplay; encrypted-media"
                allowfullscreen
              ></iframe>
            {% else %}
            <img class="card-img-top" style="object-fit: cover;" src="/static/img/missing-motd.jpg" height=150 alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">
                <a href={{music.url}}>
                  {% if music.provider %}
                    {{music.provider|capfirst}}
                  {% else %}
                    {{music.url}}
                  {% endif %}
                </a>
              </h5>
              <p class="card-text">
                Par {{music.irc_nick}} le {{music.day}}
              </p>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation example" style="margin-top: 2em">
  <ul class="pagination justify-content-center">

    <li class="page-item {% if not has_previous %}disabled {% endif %}">  <!-- previous-->
      <a class="page-link" {% if has_previous %} href="{% url 'motd' page.previous_page_number %}" {% endif %}>Previous</a>
    </li>

      {% if page_number > 6 %}  <!-- if too much pages from the start -->
        <li class="page-item"><a class="page-link" href="{% url 'motd' 1 %}">{{1}}</a></li>  <!-- page 1 -->
        <li class="page-item disabled"><a class="page-link">...</a></li>
        {% for i in short_page_range_before %}
          <li class="page-item"><a class="page-link" href="{% url 'motd' i %}">{{i}}</a></li>
        {% endfor %}

      {% else %}
        {% for i in page_range_before %}
          <li class="page-item"><a class="page-link" href="{% url 'motd' i %}">{{i}}</a></li>
        {% endfor %}
      {% endif %}

      <li class="page-item disabled"><a class="page-link"> <strong> {{page_number}} </strong> </a></li>  <!-- current page -->

      {% if page_number < last_page_need_shortened %}   <!-- if too much pages until the end -->
        {% for i in short_page_range_after %}
          <li class="page-item"><a class="page-link" href="{% url 'motd' i %}"> {{i}}</a></li>
        {% endfor %}
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'motd' num_pages %}">{{num_pages}}</a></li>  <!-- last page -->

      {% else %}
        {% for i in page_range_after %}
          <li class="page-item"><a class="page-link" href="{% url 'motd' i %}">{{i}}</a></li>
        {% endfor %}
      {% endif %}

    <li class="page-item {% if not has_next %}disabled {% endif %}">  <!-- next -->
      <a class="page-link" {% if has_next %} href="{% url 'motd' page.next_page_number %}" {% endif %}>Next</a>
    </li>
  </ul>
</nav>
<br/>
{% endblock %}
