{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load humanize %}

{% block title %}
PAMELA
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">UrLab</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pamela</li>
    </ol>
    </nav>

    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Pamela
            <small>
                a Payload for Anti-Matter Exploration and Light-nuclei Astrophysics
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>P.A.M.E.L.A. est l'interface permettant de voir qui est actuellement connecté sur le réseau du
                Hackerspace.
                Ci-dessous les gens actuellement présents :</p>

            {% if should_show_pamela %}
                {% if stealth_mode %}
                    <br>
                    <div class="alert alert-warning" role="alert">
                    <b>Stealth mode activated !</b> Le hackerspace n'est pas censé être ouvert pour l'instant.<br>
                    Vous pouvez voir pamela parce que vous êtes détenteur d'une clé mais la plupart des gens ne voient qu'une page vide !
                    </div>
                {% endif %}
                <div id="pamela"></div>
            {% else %}
                <h2>Il n'y a personne au hackerspace pour l'instant.</h2>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if space_open %}
                <div class="alert alert-success" role="alert">
                    Le Hackerspace est ouvert depuis {{ status_change.time|timesince }}. Venez nous dire bonjour !
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Le Hackerspace est fermé depuis {{ status_change.time|timesince }}.
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header"><h3>Ajoutez votre machine</h3></div>
                <div class="card-body">
                    <p>Tapez ceci dans un terminal pour avoir une liste de vos MAC adress : </p>
                    <pre>ip addr show</pre>
                    {% if request.user.is_authenticated %}
                        <p>Et ajoutez votre machine à Pamela : </p>
                        <div>
                            <form action="{% url "pamela_list" %}" method="post" class="form">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-info pull-right">Ajouter à Pamela</button>
                                {% endbuttons %}
                            </form>
                        </div>
                        <p class="text-muted">
                            <small>
                                * En donnant votre adresse MAC©, vous acceptez l'enregistrement de l'association entre
                                votre pseudonyme et l'adresse matérielle de votre ordinateur sur le serveur de UrLab©.
                                Cette information ne sera utilisée que pour afficher votre nom sur cette page. Si vous
                                ne souhaitez pas communiquer cette information, seuls les deux derniers bytes de cette
                                adresse sont affichés sur cette page<sup>Patent pending</sup>.
                            </small>
                        </p>
                    {% else %}
                        Connectez-vous pour pouvoir ajouter votre adresse à Pamela
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

<script src="{% static "js/react.min.js" %}"></script>
<script src="{% static "js/react-dom.min.js" %}"></script>
<script src="{% static "js/babel.min.js" %}"></script>
<script type="text/babel">
var PamelaUsersBox = React.createClass({
    render: function(){
        var userlist = this.props.users.map(function(user){
            return <li className="user-entry">
                <img className="user-avatar" src={user.gravatar}/>
                &nbsp;
                <abbr title={(user.has_key) ? 'Possède une clef' : 'Manant'}>
                   <i className={"fa fa-" + ((user.has_key) ? 'key' : 'user')}></i>
                </abbr>
                &nbsp;
                <a href={"/accounts/"+user.username}>{user.username}</a>
            </li>
        })
        return <ul className="user-list">{userlist}</ul>
    }
});

var PamelaNoobsBox = React.createClass({
    render: function(){
        var userlist = this.props.macs.map(function(mac){
            return <li className="user-entry">
                <i className="fa fa-user"></i>&nbsp;{mac}
            </li>
        })
        return <ul className="user-list">{userlist}</ul>
    }
});

var Pamela = React.createClass({
    pamela_content: function(){
        var hidden_text = "";
        if (this.state.hidden > 1){
            hidden_text = "Et " + this.state.hidden + " autres personnes";
        } else if (this.state.hidden > 0){
            hidden_text = "Et 1 autre personne";
        }
        if (this.state.unknown_mac.length + this.state.users.length == 0){
            return <div className="col-md-12 col-sm-12">
                <h2>Il n'y a personne au Hackerspace pour l'instant</h2>
            </div>;
        } else {
            return <div className="row-fluid">
                <div className="col-md-6 col-sm-12">
                    <h3>Membres de UrLab</h3>
                    <PamelaUsersBox users={this.state.users}/>
                </div>
                <div className="col-md-6 col-sm-12">
                    <h3>Inconnus</h3>
                    <PamelaNoobsBox macs={this.state.unknown_mac}/>
                    <h4>{hidden_text}</h4>
                </div>
            </div>;

        }
    },
    render: function(){
        var total_macs = this.state.users.length + this.state.unknown_mac.length + this.state.hidden;
        return <div className="container-fluid">
            <h3><small>Nous sommes <strong>{total_macs}</strong> pour le moment</small></h3>
            {this.pamela_content()}
            <div className="row-fluid">
                <h2 className="col-sm-12">
                    <small>Mis à jour il y a {this.state.age} secondes</small>
                </h2>
            </div>
        </div>
    },
    getInitialState: function(){
        return {age: "XXX", unknown_mac: [], users: []};
    },
    getPamelaData: function(){
        $.getJSON(this.props.url, function(data){
            this.setState(data);
        }.bind(this));
    },
    componentDidMount: function(){
        this.getPamelaData();
        setInterval(this.getPamelaData, this.props.pollInterval);
    }
});

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    ReactDOM.render(
        <Pamela url="/api/space/pamela" pollInterval={7500}/>,
        document.getElementById('pamela'));
});
</script>
{% endblock %}
