{% extends "base.html" %}

{% block content %}


<ol class="breadcrumb">
  <li><a href="/">UrLab</a></li>
  <li class="active">Projets</li>
</ol>


<div class="page-header">
  <h1>Incubateur à projets</h1>
</div>
<p>
    Vous trouverez ici une grande partie des projets (en cours, sous forme de proposition ou finis) à UrLab. Tous ces projets sont ouverts à tous, n'hésitez pas à vous rajouter dans un projet pour aider, apprendre ou juste regarder.
    Vous êtes aussi invités à
    <a class="btn btn-success btn-xs" href="{% url "add_project" %}">
        ajouter vos propres projets
        <span class="fa fa-plus" aria-hidden="true"></span>
    </a>, n'ayez pas peur, on est ouverts à tout !
</p>

<div class="row">
    {% for project in projects %}
        {% include "project_card.html" %}
    {% endfor %}
</div>

{% endblock %}
