{% extends "base.html" %}

{% block title %}
Projets à UrLab
{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/">UrLab</a></li>
  <li class="active">Projets</li>
</ol>


<div class="page-header">
  <h1>
    Incubateur à projets
    <a href="{% url "add_project" %}" class="btn btn-success pull-right">
      <span class="fa fa-plus" aria-hidden="true"></span>
          Proposer
    </a>
  </h1>
</div>
<p>
    Vous trouverez ici une grande partie des projets (en cours, <a href="#propositions">sous forme de proposition</a> ou <a href="#done">finis</a>) à UrLab. Tous ces projets sont ouverts à tous, n'hésitez pas à vous rajouter dans un projet pour aider, apprendre ou juste regarder.
    Vous êtes aussi invités à ajouter vos propres projets ci dessus, n'ayez pas peur, on est ouverts à tout !
</p>

{% for row in progress %}
    <div class="row">
        {% for project in row %}
          {% include "project_card.html" %}
        {% endfor %}
    </div>
{% endfor %}

<h1 id="done">Projets finis</h1>
<p>Ici, vous trouverez les projets qui ont déjà été faits au hackerspace.</p>
{% for row in done %}
    <div class="row">
        {% for project in row %}
          {% include "project_card.html" %}
        {% endfor %}
    </div>
{% endfor %}

<h1 id="propositions">Propositions de projets</h1>
<p>Parfois les gens n'ont pas le temps, pas les compétences pour faire un projet
ou alors ont envie de le faire avec plus de monde. Parfois c'est juste une idée loufoque qui traine dans
un coin de notre tête et qu'on veut noter quelque part...</p>
{% for row in proposition %}
    <div class="row">
        {% for project in row %}
          {% include "project_card.html" %}
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
