<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <a href="{% url "view_project" project.id %}">
    {% if not project.picture %}
      <img src="/static/img/default-project.png" style="height: 15em; width:100%; object-fit: cover;">
    {% else %}
      <img src="{{project.picture.url}}" style="height: 15em; width:100%; object-fit: cover;">
    {% endif %}
    </a>
    <div class="caption">
      <h3 class="row-fluid">
          {{ project.title }}
      </h3>
      <div class="row-fluid progress">
          {% if project.status == 'i' %}
              <div class="progress-bar" role="progressbar" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:{{project.progress}}%">
                  {{project.progress}}%
              </div>
          {% elif project.status == 'f' %}
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:100%">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  Fini
              </div>
          {% elif project.status == 'a' %}
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:100%">
                  {{project.ANT_CHAR}} Les fourmis sont parties
              </div>
          {% else %}
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:100%">
                  Proposition
              </div>
          {% endif %}
      </div>
      <p class="row-fluid project-card-description">{{ project.short_description }}</p>
      <p class="row-fluid text-center">
          <a href="{% url "view_project" project.id %}" class="btn btn-primary" role="button">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Voir plus
          </a>
          {% if request.user != project.maintainer and request.user not in project.participants.all %}
            <a href="{% url "project_add_participation" project.id %}" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                Participer
            </a>
          {% else %}
            <a href="{% url "edit_project" project.id %}" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Editer
            </a>
          {% endif %}
      </p>

    </div>
  </div>
</div>
