{% extends "base.html" %}
{% load formatting %}

{% block content %}

<h1>{{project.title}}</h1>
<p>
    Etat : {{project.get_status_display}}<br>
    Mainteneur : <a href="">{{project.maintainer.username}}</a><br>
    Prticipant{{project.participants.all|pluralize}}:
    {% for participant in project.participants.all %}
    <a href="">{{participant.username}}</a>
    {% empty %}
    Oh, il n'y a aucun participant :'(
    {% endfor %}</br>
    {% if user != project.maintainer and user not in project.participants.all %}
    <a href="{% url 'project_add_participation' project.id%}">Je participe</a>
    {% endif %}
</p>
<p>Description : {{project.short_description}}</p>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:{{project.progress}}%">
      {{project.progress}}%
  </div>
</div>
<p>{{project.content|markdown}}</p>

{% endblock %}
