{% load staticfiles %}
{% load activelink %}
{% load bootstrap3 %}

{% load sekizai_tags i18n wiki_tags %}

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=1 %}
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% render_block "css" %}
        <title>{% block title %}UrLab{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">UrLab</a>
                </div>
                <div class="collapse navbar-collapse" id="menuNavbar">
                    <ul class="nav navbar-nav">
                        <li class="{% ifcontains "/projects/" %}active{% endifcontains %}">
                            <a href="{% url "projects_home" %}">Projets</a>
                        </li>
                        <li class="{% ifcontains "/events/" %}active{% endifcontains %}">
                            <a href="{% url "events_home" %}">Evénements</a>
                        </li>
                        <li class="{% ifcontains "/wiki/" %}active{% endifcontains %}">
                            <a href="{% url "wiki:root" %}">Wiki</a>
                        </li>
                        <li class="{% ifcontains "/space/pamela" %}active{% endifcontains %}">
                            <a href="{% url "pamela_list" %}">Pamela</a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li style="background-color: #337AB7">
                                <p class="navbar-text" style="color: white;">
                                    This is a Beta, do not play with money yet ;)
                                </p>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% bootstrap_icon "user" %}
                                {{request.user.username}} <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url "profile" %}">{% bootstrap_icon "user" %} Profil</a></li>
                                <li><a href="{% url "change_balance" %}">{% bootstrap_icon "euro" %} Ardoise</a></li>
                                {% if request.user.is_staff %}
                                <li role="separator" class="divider"></li>
                                <li><a href="/admin">Administration</a></li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url "logout" %}?next=/">{% bootstrap_icon "disconnect" %}Déconnexion</a></li>
                              </ul>
                            </li>
                        {% else %}
                            <li class="{% ifcontains "/auth/login" %}active{% endifcontains %}">
                                <a href="{% url "login" %}">Login / Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        {% render_block "js" %}
    </body>
</html>
