{% extends "base.html" %}
{% load bootstrap4 %}
{% load formatting %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% if message and message != "" %}
                <div class="alert alert-{{message_type}}" role="alert">
                    {{ message|markdown }}
                </div>
            {% endif %}

            {% if messages %}
                <ul class="messages mt-5">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if request.user.is_authenticated %}
                <h1>Mon UrLab</h1>
                <p>Les dernières nouvelles de mon hackerspace préféré.</p>
                {% include "home_feed.html" %}
            {% else %}

            <h1>
                UrLab ?</h1>
            <p>UrLab est le hackerspace de l’ULB. Il s’agit d'un laboratoire ouvert par et pour les étudiants, où l’on met à disposition une infrastructure pour qu’ils puissent y exprimer leur créativité de manière collaborative.</p>

            <p>UrLab permet aux étudiants de l’ULB ayant un intérêt pour l’informatique, l’électronique ou d’une manière générale la technologie, de se rencontrer, partager et collaborer. Il peut être comparé à un laboratoire ouvert. Les thèmes abordés peuvent avoir un lien direct avec les cours mais pas nécessairement, le but étant d’explorer d’autres domaines, ou d’en approfondir. Quelques exemples sont présentés sur la page projets</p>

            <h1>Un hackerspace ?</h1>

            <p>Le hackerspace est composé de trois facettes :
            <ul>
                <li>Un atelier, lieu de travail où chacun peut construire quelque chose en profitant des installations présentes ;</li>
                <li>Un lieu de socialisation, où des groupes de gens peuvent se rencontrer et échanger des idées et collaborer sur des projets ;</li>
                <li>L’organisation régulière de conférences et de présentations liées à l'informatique et à la technologie en général.</li>
            </ul>
            </p>

            <p>UrLab est un lieu de rencontre pour les étudiants intéressés par la technologie. C’est un lieu où l’on développe ses projets et l’on partage ses connaissances par l’intermédiaire d’ateliers et de conférences.</p>
            <div class="row">
                {% include "event.html" %}
            </div>
        {% endif %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="col-md-4">
                <div class="row">
                    {% include "event.html" %}
                </div>
                <div class="row">
                    {% include "map.html" %}
                </div>
            </div>
        {% else %}
            <div class="col-md-4">
                <div class="row">
                    {% include "map.html" %}
                </div>
            </div>
        {% endif %}
    </div>

    <script type="text/javascript">
        $('.wow').hover(function (evt) {
            var wow = evt.target.closest('.wow');
            $(wow).find('.fa-stack-2x').toggleClass('fa-square-o fa-square');
            $(wow).find('.fa-stack-1x').toggleClass('fa-inverse');
        });
    </script>

{% endblock %}
