{% extends "base.html" %}

{% block title %}
Evénements de UrLab
{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/">UrLab</a></li>
  <li><a href="/events">Événements</a></li>
  <li class="active">passé</li>

</ol>


<div class="row">
  <div class="col-md-2">


    <h1>
        <span class="fa fa-clock-o" aria-hidden="true"></span>
        Evénements passés
    </h1>
    {% for event in past %}
      {% include "event_card.html" %}
    {% empty %}
      <p>Il n'y a aucun événement passé, future is NOW !</p>
    {% endfor %}
  </div>
</div>




{% endblock %}
