{% load formatting %}
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <a href="{% url "view_event" event.id %}">
    {% if not event.picture %}
      <img src="/static/img/default-event.png" style="height: 15em; width:100%; object-fit: cover;">
    {% else %}
      <img src="{{event.picture.url}}" style="height: 15em; width:100%; object-fit: cover;">
    {% endif %}
    </a>
    <div class="caption">
      <h4 class="row-fluid card-title">
          {{ event.title }}
      </h4>
      <p class="row-fluid text-center"  style="height: 5em" >
        {% include "event_time.html" %}
      </p>
      {% if request.user.is_authenticated %}
      <a class="btn btn-default" href="{% url "edit_event" event.id %}">
        <span class="fa fa-edit" aria-hidden="true"></span>
        Editer
      </a>
      {% endif %}

    </div>
  </div>
</div>
