{% extends "base.html" %}
{% load formatting %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/">UrLab</a></li>
  <li><a href="{% url "events_home" %}">Événements</a></li>
  <li class="active">{{event.title}}</li>
</ol>

<div class="page-header">
  <h1>
    {{event.title}}
    <a class="btn btn-default" href="{% url "edit_event" event.id %}">
        <span class="fa fa-edit" aria-hidden="true"></span>
        Editer
    </a>
  </h1>
</div>

<p>
    <div class="row">
        <div class="col-md-8">
            {% include "event_time.html" %}
            Organisateur : <a href="{% url 'user_profile' event.organizer.username %}">{{event.organizer.username}}</a>
        </div>
        <div class="col-md-4">
            <p>
                12 personnes sont intéressés
                <button type="submit" class="btn btn-primary btn-xs">
                        Moi aussi
                </button>
            </p>
            {% if request.user.is_authenticated and not event.meeting %}
              <p>Cet événement n'a pas d'ordre du jour. <a href="{% url "add_meeting" event.id %}" class="btn btn-default btn-xs">Ajouter un OJ</a></p>
            {% endif %}
        </div>
    </div>

</p>
<hr>
<div class="row">
  {% if event.status == 'i' %}
    <div class="alert alert-warning" role="alert">
      <b>Événement en incubation :</b> N'hésitez pas à le compléter, à choisir une date pour l'organiser ou tout simplement en vous signalant comme "intéressé".
    </div>
  {% endif %}
  {% if not event.meeting %}
    <div class="col-md-12">
      <h2>Description</h2>
      {{event.description|markdown}}
    </div>
  {% else %}
    <div class="col-md-5">
      <h2>Description</h2>
      {{event.description|markdown}}
    </div>
    <div class="col-md-7">
      <h3>
        Ordre du jour
        <a class="btn btn-default btn-xs"  href="{% url "edit_meeting" event.meeting.id %}">
            <span class="fa fa-edit" aria-hidden="true"></span>
            Editer
        </a>
      </h3>
      {% if not event.meeting.OJ %}
        <p><i>L'ordre du jour est vide pour l'instant.</i></p>
      {% else %}
        {{event.meeting.OJ|markdown}}
      {% endif %}

      <h3>
        Compte rendu
        <a class="btn btn-default btn-xs"  href="{% url "edit_meeting" event.meeting.id %}">
            <span class="fa fa-edit" aria-hidden="true"></span>
            Editer
        </a>
      </h3>

      {% if event.meeting.PV %}
        {{event.meeting.PV|markdown}}
        <hr>
        <h4>Pad de la réunion</h4>
        <p><a href="{{event.meeting.pad}}">{{event.meeting.pad}}</a></p>
      {% else %}
        <p>Le pad pour prendre note en live se trouve là bas: <a href="{{event.meeting.pad}}">{{event.meeting.pad}}</a><br>
        <i>Veuillez y prendre note en Markdown.</i></p>
        {% if event.is_finished %}
          <a href="{% url "import_pad" event.id %}" class="btn btn-success">Importez le contenu du pad ici</a>
        {% endif %}
      {% endif %}
      {% if event.is_today_or_before %}
        <h4>Membres présents</h4>
        {{event.meeting.members.all|join:", "|default:"Aucun membre présent"}}
        <a href=""><i class="fa fa-plus" aria-hidden="true"></i></a>
      {% endif %}
    </div>
  {% endif%}

</div>





{% endblock %}
