{% load humanize %}
<span class="fa fa-calendar" aria-hidden="true"></span>

{% if event.start == None %}
    Cet événement n'a pas encore de date prévue
{% elif type == "future" %}
    Dans {{ event.start|naturaltime }}
{% elif event.has_no_duration %}
    Le {{event.start|date:"d/m/y"}}, à {{event.start|date:"H:i"}}.
{% elif event.is_only_a_day %}
    Le {{event.start|date:"d/m/y"}}, de {{event.start|date:"H:i"}} à {{event.stop|date:"H:i"}}.
{% else %}
    Du {{event.start|date:"d/m/y à H:i"}} au {{event.stop|date:"d/m/y à H:i"}}.
{% endif %}
<br>
{% if event.place %}
<span class="fa fa-map-marker" aria-hidden="true"></span>
{{event.place}}
{% endif %}

<br>
