{% extends "base.html" %}
{% load formatting %}

{% block content %}

<h1>{{event.title}}</h1>
<p>
    {% include "event_time.html" %}
    Etat : {{event.get_status_display}}<br>
    Organisateur : <a href="{% url 'user_profile' event.organizer.username %}">{{event.organizer.username}}</a>
</p>
<p>{{event.description|markdown}}</p>

{% if event.meeting %}
    <h2>Membres présents</h2>
    {{event.meeting.membersPresent.all|join:","|default:"Aucun membre présent"}}
    <a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

    <h2>Ordre du jour</h2>
    {{event.meeting.OJ|markdown}}

    <h2>PV</h2>
    {{event.meeting.PV|markdown}}
{% else %}
    <a href="">Ajouter un ordre du jour</a>
{% endif %}


{% endblock %}
