{% extends "base.html" %}

{% block title %}
Evénements de UrLab
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="Événements du hackerspace" />
    <meta property="og:description" content="La liste des événements du hackerspace" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://urlab.be{% url "events_home" %}" />
    <meta property="og:image" content="https://urlab.be/static/img/space-invaders.svg" />
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">UrLab</a></li>
    <li class="breadcrumb-item"><a href="/events/">Événements</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ type }}</li>
  </ol>
</nav>

<form action="{% url 'events_home' %}" method="get" class="form">
  <div class="input-group" style="justify-content: right">
      <div class="form-outline">
          <input type="search" id="form1" class="form-control" name="search_term" value="{{search_term}}"/>
      </div>
      <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
      </button>
  </div>
</form>

<ul class="nav nav-tabs justify-content-end" id="article-menu" role="tablist">
  <li class="nav-item mr-auto">
    <p><strong>Nos Events</strong></p>
  </li>

  <li class="nav-item" >
    <a href="/events?type=future&offset=0{%if search_term%}&search_term={{search_term}}{% endif %}" class="nav-link {% if type == "future" %} active {% endif %}" role="tab">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bullseye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
  <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
  <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
</svg>
      <span class="hidden-xs">Futur</span>
    </a>
  </li>

  <li class="nav-item" >
    <a href="/events?type=incubation&offset=0{%if search_term%}&search_term={{search_term}}{% endif %}" class="nav-link {% if type == "incubation" %} active {% endif %}" role="tab">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-easel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2h2.092L8.473.337zM12.15 11h-1.058l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11zM8.5 11h-1v2.5a.5.5 0 0 0 1 0V11zm-3.592 0H3.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11z"/>
  <path fill-rule="evenodd" d="M14 3H2v7h12V3zM2 2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
</svg>
      <span class="hidden-xs">En incubation</span>
    </a>
  </li>

  <li class="nav-item" >
    <a href="/events?type=past&offset=0{%if search_term%}&search_term={{search_term}}{% endif %}" class="nav-link {% if type == "past" %} active {% endif %}" role="tab">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-club-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M11.5 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
  <path d="M8 9a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm7 0a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
  <path d="M5.602 14.153c.5-.758 1.224-1.98 1.83-3.498.187-.467.949-.467 1.136 0a19.816 19.816 0 0 0 1.83 3.498c.231.35-.02.847-.438.847H6.04c-.419 0-.67-.497-.438-.847z"/>
  <path d="M7 7h2v4H7V7z"/>
</svg>
      <span class="hidden-xs">Passé</span>
    </a>
  </li>
  
</ul>

<p>
  Abonnez vous à <a href="http://urlab.be/events/urlab.ics">notre flux ics (ical)</a> pour être toujours au courant
  des derniers événements
</p>

<div class="row">
  <div class="col">

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="tab-futur">
        <br>
        <p>
          {% if type == "future" %}
          Vous retrouverez ici les événements à venir. Viendez ce sera bien !
          {% endif %}
          {% if type == "incubation" %}
          Vous retrouverez ici tout les événemnts en incubation. C'est à dire
          les événements que nous pensons organiser un jour mais pour lesquels
          nous n'avons pas encore trouver de dates.
          {% endif %}
          {% if type == "past" %}
          Vous retrouverez ici tout les événements passés. Sur certains vous
          trouverez des ressources intéréssante pour en apprendre plus sur le
          sujet si vous n'avez pas pu venir à l'événement ou aimeriez appronfondir la matière.
          {% endif %}
        </p>

        {% if nbPage > 1 %}
        <nav>
          <ul class="pagination">
            <!-- Previous button -->
            {% if offset == 1 %}
            <li class="page-item disabled">
              <a class="page-link" id="linkOldup">Précédent</a>
              {% else %}
            <li class="page-item">
              <a class="page-link" href="" id="linkOldup">Précédent</a>
              {% endif %}
            </li>

            <!-- Pages buttons -->
            {% for x in range %}
            {% if x == offset %}
            <li class="page-item active">
              <a class="page-link" href="">{{x}} <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" id="link{{x}}up" href="">{{x}}</a></li>
            {% endif %}
            {% endfor %}

            <!-- Next Button -->
            {% if last %}
            <li class="page-item disabled">
              <a class="page-link">Suivant</a>
              {% else %}
            <li class="page-item">
              <a class="page-link" id="linkNewup" href="">Suivant</a>
              {% endif %}
            </li>
          </ul>
        </nav>
        {% endif %}
        <div class="row">
          {% for event in events %}{% load formatting %}
          <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
              <a href="{% url "view_event" event.id %}">
                {% if not event.picture %}
                <img class="card-img-top p-1" src="/static/img/default-event.png" style="height: 15em; width:100%; object-fit: cover;">
                {% else %}
                <img class="card-img-top p-1" src="{{event.picture.url}}" style="height: 15em; width:100%; object-fit: cover;">
                {% endif %}
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  {{ event.title }}
                </h4>
                <p class="text-center">
                  {% include "event_time.html" %}
                </p>
                <p class="row-fluid text-center">
                  <a href="{% url "view_event" event.id %}" class="btn btn-primary" role="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Voir
                  </a>
                  {% if request.user != event.organizer and request.user not in event.interested.all %}
                  <a href="{% url "interested_event" event.id %}" class="btn btn-outline-dark" role="button">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    Participer
                  </a>
                  {% else %}
                  <a href="{% url "edit_event" event.id %}" class="btn btn-outline-dark" role="button">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Editer
                  </a>
                  {% endif %}
                </p>

              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4%}
          <div class="clearfix"></div>
          {% endif %}
          {% endfor %}
        </div>
        {% if events|length == 0 %}
        {% if type == "future" %}
        Mamamia ! Il n'y a rien de prévu dans le futur ! Vite, <a href="{% url "add_event" %}">crée un événement</a> !
        {% elif type == "past" %}
        Il n'y a aucun événement passé, future is NOW !
        {% else %}
        Aucun évenement n'est en incubation :/
        {% endif %}
        {% endif %}

        {% if nbPage > 1 %}
        <nav>
          <ul class="pagination">
            <!-- Previous button -->
            {% if offset == 1 %}
            <li class="page-item disabled">
              <a class="page-link" id="linkOlddown">Précédent</a>
              {% else %}
            <li class="page-item">
              <a class="page-link" href="" id="linkOlddown">Précédent</a>
              {% endif %}
            </li>

            <!-- Pages buttons -->
            {% for x in range %}
            {% if x == offset %}
            <li class="page-item active">
              <a class="page-link" href="">{{x}} <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" id="link{{x}}down" href="">{{x}}</a></li>
            {% endif %}
            {% endfor %}

            <!-- Next Button -->
            {% if last %}
            <li class="page-item disabled">
              <a class="page-link">Suivant</a>
              {% else %}
            <li class="page-item">
              <a class="page-link" id="linkNewdown" href="">Suivant</a>
              {% endif %}
            </li>
          </ul>
        </nav>
        {% endif %}

        <div class="card mt-3">
          <div class="card-header">
            <h3 class="card-title">Déjà arrivé à la fin ?</h3>
          </div>
          <div class="card-body">
            N'oublie pas d'aller voir les
            {% if type == "future" or type == "past" %}
            <a href="/events?type=incubation&offset=0">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-easel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2h2.092L8.473.337zM12.15 11h-1.058l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11zM8.5 11h-1v2.5a.5.5 0 0 0 1 0V11zm-3.592 0H3.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11z"/>
  <path fill-rule="evenodd" d="M14 3H2v7h12V3zM2 2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
</svg>
              événements en incubation
            </a>
            {% endif %}
            {% if type == "future" or type == "incubation" %}
            <a href="/events?type=past&offset=0">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-club-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M11.5 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
  <path d="M8 9a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm7 0a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
  <path d="M5.602 14.153c.5-.758 1.224-1.98 1.83-3.498.187-.467.949-.467 1.136 0a19.816 19.816 0 0 0 1.83 3.498c.231.35-.02.847-.438.847H6.04c-.419 0-.67-.497-.438-.847z"/>
  <path d="M7 7h2v4H7V7z"/>
</svg>
              événements passés
            </a>
            {% endif %}
            {% if type == "incubation" or type == "past" %}
            <a href="/events?type=future&offset=0">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
</svg>
              événements en futur
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col">
    <div class="container-fluid mt-3">
      <a href="{% url "add_event" %}" class="btn btn-success pull-right">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Proposer
      </a>
    </div>
  </div>
</div>
<div class="row">
  <p></p>
</div>


<!-- Owiii du javascript random au milieu de nul part, much love-->
<script type="text/javascript">
  var current_offset = {{ offset }} - 1;

  if (current_offset > 0) {
    document.getElementById("linkOldup").href = "/events?type={{type}}&offset=" + (current_offset - 1);
    document.getElementById("linkOlddown").href = "/events?type={{type}}&offset=" + (current_offset - 1);
  }
  if ('{{last}}' != 'True') {
    document.getElementById("linkNewup").href = "/events?type={{type}}&offset=" + (current_offset + 1);
    document.getElementById("linkNewdown").href = "/events?type={{type}}&offset=" + (current_offset + 1);
  }

  for (var x = 0; x < {{ nbPage }}+1; x++) {
    if (x != current_offset) {
      document.getElementById("link" + (x + 1) + "up").href = "/events?type={{type}}&offset=" + x;
      document.getElementById("link" + (x + 1) + "down").href = "/events?type={{type}}&offset=" + x;
    }
  }
</script>

{% endblock %}
